.stingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
}

.stingSword {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-image: url("/src/assets/Sting.svg");
  background-size: 1000px 1000px;
}

.stingGlow {
  display: flex;
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-image: url("/src/assets/Sting-blue.svg");
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  clip-path: inset(100% 0 0 0);
  transition: clip-path ease-in 5s;
}

.stingGlowUp {
  clip-path: inset(0 0 0 0);
}
